<launch>

	<node name="tf_livox_up" pkg="tf2_ros" type="static_transform_publisher" args="0.0242 0 0.0521 1.571 0 1.046 chassie livox_up"/>
	<node name="tf_livox_down" pkg="tf2_ros" type="static_transform_publisher" args="0.0242 0 -0.0521 1.571 0 2.094 chassie livox_down"/>

	<!--user configure parameters for ros start-->
	<arg name="lvx_file_path" default="livox_test.lvx"/>
	<arg name="bd_list" default="100000000000000"/>
	<arg name="xfer_format" default="0"/>
	<arg name="multi_topic" default="1"/>
	<arg name="data_src" default="0"/>
	<arg name="publish_freq" default="10.0"/>
	<arg name="output_type" default="0"/>
	<arg name="rviz_enable" default="true"/>
	<arg name="rosbag_enable" default="false"/>
	<arg name="cmdline_arg" default="$(arg bd_list)"/>
	<arg name="msg_frame_id" default="livox_frame"/>
	<arg name="lidar_bag" default="true"/>
	<arg name="imu_bag" default="true"/>
	<!--user configure parameters for ros end-->

	<param name="xfer_format" value="$(arg xfer_format)"/>
	<param name="multi_topic" value="$(arg multi_topic)"/>
	<param name="data_src" value="$(arg data_src)"/>
	<param name="publish_freq" type="double" value="$(arg publish_freq)"/>
	<param name="output_data_type" value="$(arg output_type)"/>
	<param name="cmdline_str" type="string" value="$(arg bd_list)"/>
	<param name="cmdline_file_path" type="string" value="$(arg lvx_file_path)"/>
	<param name="user_config_path" type="string" value="$(find livox_ros_driver2)/config/multi_MID360_config.json"/>
	<param name="frame_id" type="string" value="$(arg msg_frame_id)"/>
	<param name="enable_lidar_bag" type="bool" value="$(arg lidar_bag)"/>
	<param name="enable_imu_bag" type="bool" value="$(arg imu_bag)"/>
	
	<node name="livox_lidar_publisher1" pkg="livox_ros_driver2"
		type="livox_ros_driver2_node" required="true"
		output="screen" args="$(arg cmdline_arg)">
		<remap from ="/livox/lidar_192_168_1_113" to="/livox/lidar_up"/>
		<remap from ="/livox/imu_192_168_1_113" to="/livox/imu_up"/>
		<remap from ="/livox/lidar_192_168_1_175" to="/livox/lidar_down"/>
		<remap from ="/livox/imu_192_168_1_175" to="/livox/imu_down"/>
	</node>

	<group if="$(arg rviz_enable)">
		<node name="livox_rviz" pkg="rviz" type="rviz" respawn="true"
				args="-d $(find livox_ros_driver2)/config/display_multi_point_cloud_ROS1.rviz"/>
    </group>

	<group if="$(arg rosbag_enable)">
    	<node pkg="rosbag" type="record" name="record" output="screen"
          		args="-a"/>
    </group>

</launch>
